[submodule "themes/blackburn"]
	path = themes/blackburn
	url = https://github.com/yoshiharuyamashita/blackburn
[submodule "themes/hugo-code-editor-theme"]
	path = themes/hugo-code-editor-theme
	url = https://github.com/aubm/hugo-code-editor-theme
